version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: daily
  target-branch: master
  open-pull-requests-limit: 3
  ignore:
    - dependency-name: "webpacker"
    
