<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Correo de contanco del usuario: <%= @name %></h1>
    <p>
      <%= @email %>
      <hr>
      <%= @message %>
    </p>
  </body>
</html>